[submodule "hugo-theme-stack"]
	path = hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
