{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $Permalink := .Destination | relURL | safeURL -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $SrcsetWebp := "" -}}   {{/* WebP版用 */}}

{{- $galleryImage := false -}}

{{- if $image -}}
  {{- $notSVG := ne (path.Ext .Destination) ".svg" -}}
  {{- $Permalink = $image.RelPermalink -}}

  {{- if $notSVG -}}
    {{- $Width = $image.Width -}}
    {{- $Height = $image.Height -}}
    {{- $galleryImage = true -}}

    {{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
      {{- $webp := $image.Format "webp" -}}
      {{- $SrcsetWebp = $webp.RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<picture>
  {{ with $SrcsetWebp }}
    <source srcset="{{ . }}" type="image/webp">
  {{ end }}
  <img src="{{ $Permalink }}"
    {{ with $Width }}width="{{ . }}"{{ end }}
    {{ with $Height }}height="{{ . }}"{{ end }}
    loading="lazy"
    {{ with $alt }}alt="{{ . }}"{{ end }}
    {{ if $galleryImage }}
      class="gallery-image"
      data-flex-grow="{{ div (mul $image.Width 100) $image.Height }}"
      data-flex-basis="{{ div (mul $image.Width 240) $image.Height }}px"
    {{ end }}
  >
</picture>
